{{- define "main" -}} 
{{- if eq .RelPermalink "/categories/" -}} 
<div class="siteTitle">
    <h1>
        Categories
    </h1>
</div>
<div class="article-container">
<div class="tag-page-list">
{{- range $.Site.Taxonomies.categories.ByCount -}}
    {{ $imagePath := printf "%simg/category/placeholderBlue_500.webp" site.Home.Permalink }}
    {{ $imageAltText := "placeholder image" }}
    {{ $image := printf "static/img/category/%s_500.webp" (.Name) }}
    {{- if fileExists $image -}}
        {{ $imagePath = printf "%simg/category/%s_500.webp" site.Home.Permalink (.Name) }}
        {{ $imageAltText = printf "%s" (.Name) }}
    {{- end -}}
    <div class="image-container">
        <a href="/categories/{{ .Name }}">
            <img src="{{ $imagePath }}" alt="{{ $imageAltText }}">
            <div class="category-text">{{ .Name | humanize }}</div>
            <div class="category-count">{{.Count}}</div>
        </a>
    </div>
{{- end -}}
</div>
</div>
{{- else -}}
{{- $paginator := .Paginate (where .Data.Pages "Type" "post") -}}

<div class="article-container">
    {{- range $paginator.Pages -}}
    {{ partial "articlecard" . }}
    {{- end -}}
</div>

{{ template "_internal/pagination.html" . }}
{{end}} 
{{ end }}
