{{ define "main" }}
  {{- if eq .Type "post" -}}
    <div class="article-container-single">
      {{ partial "articlecardsingle" . }}
    
      {{/*  previous and next links on posts  */}}
      {{- if ne .Type "page" -}}
      <nav class="pagination">
        <div class="previous-page">
        {{- if .PrevInSection -}}
            <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Title }}">
              <button>&#171; {{ .PrevInSection.Title }}</button>
            </a>
        {{- end -}}
        </div>
    
        <div></div>
    
        <div class="next-page">
        {{- if .NextInSection -}}
            <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Title }}">
              <button>{{ .NextInSection.Title }} &#187;</button>
            </a>
        {{- end -}}
        </div>
      </nav>
      {{- end -}}
    </div> 
  {{- else -}}
    <div class="page-content">
      {{ .Content }}
    </div>
  {{- end -}}
{{- end -}}


