<div class="article-card">
    {{ $imagePath := printf "%simg/category/placeholderBlue_500.webp" site.Home.Permalink }}
    {{ $imageAltText := "placeholder image" }}

    {{ with .Params.categories }}
        {{ if gt (len .) 0 }}
            {{ $image := printf "static/img/category/%s_500.webp" (index . 0) }}
            {{ if fileExists $image }}
                {{ $imagePath = printf "%simg/category/%s_500.webp" site.Home.Permalink (index . 0) }}
                {{ $imageAltText = printf "%s" (index . 0 ) }}
            {{ end}}
        {{ end }}
    {{ end }}

    <a href="{{ .RelPermalink }}"><img src="{{ $imagePath }}" alt="{{ $imageAltText }}"></a>

    <div class="content">
        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <p>
            {{ .Summary }}
        </p>
        <p>
            {{ if .Truncated }}
                <a class="moreLink" href="{{ .RelPermalink }}"> Read more &#x2b95; </a>
            {{ end }}
        
        </p>
    </div>
</div>